.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.966309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.948242;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.940430;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(191,191,191),0 0.015em rgb(191,191,191),0.015em 0 rgb(191,191,191),0 -0.015em  rgb(191,191,191);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(191,191,191);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.756000px;}
._2{width:1.178061px;}
._0{width:2.267939px;}
.fc4{color:rgb(191,191,191);}
.fc0{color:rgb(0,0,102);}
.fc1{color:rgb(255,51,0);}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(255,0,0);}
.fs5{font-size:42.000000px;}
.fs3{font-size:44.000000px;}
.fs6{font-size:48.000000px;}
.fs0{font-size:50.840293px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:72.000000px;}
.fs1{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y2c{bottom:17.025665px;}
.y2b{bottom:31.950487px;}
.y1{bottom:38.964071px;}
.y1a{bottom:47.139999px;}
.y19{bottom:62.064821px;}
.y2a{bottom:76.995338px;}
.y3a{bottom:85.016693px;}
.y29{bottom:90.195335px;}
.yf{bottom:97.694313px;}
.y39{bottom:99.941515px;}
.y28{bottom:103.395332px;}
.ye{bottom:110.894314px;}
.y27{bottom:116.595337px;}
.yd{bottom:125.819134px;}
.y18{bottom:129.618004px;}
.y26{bottom:129.795338px;}
.y17{bottom:142.818008px;}
.y25{bottom:143.285782px;}
.y16{bottom:156.018009px;}
.y38{bottom:158.655930px;}
.y24{bottom:159.120155px;}
.y15{bottom:169.218010px;}
.y37{bottom:171.855934px;}
.y14{bottom:184.142830px;}
.y36{bottom:185.055935px;}
.y35{bottom:198.307316px;}
.y23{bottom:198.446991px;}
.yc{bottom:208.102600px;}
.y34{bottom:213.180752px;}
.y22{bottom:213.371813px;}
.yb{bottom:220.702606px;}
.ya{bottom:233.302605px;}
.y13{bottom:245.460098px;}
.y9{bottom:245.902607px;}
.y8{bottom:258.502607px;}
.y12{bottom:258.660103px;}
.y33{bottom:267.516769px;}
.y11{bottom:271.860104px;}
.y7{bottom:272.944622px;}
.y21{bottom:274.116768px;}
.y32{bottom:280.716766px;}
.y10{bottom:286.784924px;}
.y20{bottom:287.316769px;}
.y31{bottom:293.916769px;}
.y1f{bottom:302.241589px;}
.y2{bottom:302.458908px;}
.y30{bottom:308.841589px;}
.y2f{bottom:343.390976px;}
.y6{bottom:343.742386px;}
.y1c{bottom:354.409988px;}
.y2e{bottom:359.487801px;}
.y5{bottom:359.839211px;}
.y1e{bottom:365.709671px;}
.y1b{bottom:369.334810px;}
.y2d{bottom:374.412621px;}
.y4{bottom:374.764030px;}
.y1d{bottom:380.634493px;}
.y3{bottom:465.083916px;}
.h6{height:29.182617px;}
.h4{height:30.572266px;}
.h8{height:34.031250px;}
.h7{height:37.125000px;}
.h1{height:38.626707px;}
.h5{height:38.910156px;}
.h3{height:55.687500px;}
.h2{height:93.187500px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:51.562531px;}
.x21{left:129.063324px;}
.x28{left:174.422668px;}
.x24{left:175.932037px;}
.x19{left:177.626526px;}
.xa{left:178.766998px;}
.x9{left:192.250015px;}
.x8{left:201.250015px;}
.x16{left:213.766724px;}
.x2{left:219.570328px;}
.x4{left:223.026855px;}
.xc{left:226.874985px;}
.x25{left:227.937515px;}
.x1a{left:229.625015px;}
.x10{left:231.766724px;}
.x12{left:234.329224px;}
.x1e{left:235.717834px;}
.x27{left:243.049820px;}
.xd{left:246.124985px;}
.x20{left:247.577179px;}
.x5{left:248.999985px;}
.x18{left:253.125015px;}
.x7{left:260.507835px;}
.x6{left:268.543930px;}
.x11{left:274.016724px;}
.x13{left:276.954224px;}
.x3{left:282.664062px;}
.xe{left:285.829231px;}
.x1f{left:288.764679px;}
.x15{left:290.224442px;}
.x1c{left:298.780342px;}
.x17{left:302.203125px;}
.x1d{left:306.800362px;}
.x23{left:314.022339px;}
.xb{left:323.999985px;}
.x14{left:329.599442px;}
.xf{left:330.829224px;}
.x26{left:335.924820px;}
.x1b{left:346.030334px;}
.x22{left:348.397339px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-2.341333pt;}
._2{width:1.570748pt;}
._0{width:3.023919pt;}
.fs5{font-size:56.000000pt;}
.fs3{font-size:58.666667pt;}
.fs6{font-size:64.000000pt;}
.fs0{font-size:67.787057pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:96.000000pt;}
.fs1{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y2c{bottom:22.700887pt;}
.y2b{bottom:42.600650pt;}
.y1{bottom:51.952095pt;}
.y1a{bottom:62.853333pt;}
.y19{bottom:82.753095pt;}
.y2a{bottom:102.660451pt;}
.y3a{bottom:113.355591pt;}
.y29{bottom:120.260447pt;}
.yf{bottom:130.259084pt;}
.y39{bottom:133.255353pt;}
.y28{bottom:137.860443pt;}
.ye{bottom:147.859085pt;}
.y27{bottom:155.460449pt;}
.yd{bottom:167.758845pt;}
.y18{bottom:172.824005pt;}
.y26{bottom:173.060450pt;}
.y17{bottom:190.424011pt;}
.y25{bottom:191.047709pt;}
.y16{bottom:208.024012pt;}
.y38{bottom:211.541239pt;}
.y24{bottom:212.160207pt;}
.y15{bottom:225.624013pt;}
.y37{bottom:229.141246pt;}
.y14{bottom:245.523773pt;}
.y36{bottom:246.741247pt;}
.y35{bottom:264.409754pt;}
.y23{bottom:264.595988pt;}
.yc{bottom:277.470133pt;}
.y34{bottom:284.241002pt;}
.y22{bottom:284.495750pt;}
.yb{bottom:294.270142pt;}
.ya{bottom:311.070140pt;}
.y13{bottom:327.280131pt;}
.y9{bottom:327.870143pt;}
.y8{bottom:344.670143pt;}
.y12{bottom:344.880137pt;}
.y33{bottom:356.689026pt;}
.y11{bottom:362.480138pt;}
.y7{bottom:363.926163pt;}
.y21{bottom:365.489024pt;}
.y32{bottom:374.289022pt;}
.y10{bottom:382.379898pt;}
.y20{bottom:383.089025pt;}
.y31{bottom:391.889025pt;}
.y1f{bottom:402.988785pt;}
.y2{bottom:403.278544pt;}
.y30{bottom:411.788785pt;}
.y2f{bottom:457.854635pt;}
.y6{bottom:458.323181pt;}
.y1c{bottom:472.546651pt;}
.y2e{bottom:479.317067pt;}
.y5{bottom:479.785614pt;}
.y1e{bottom:487.612895pt;}
.y1b{bottom:492.446414pt;}
.y2d{bottom:499.216827pt;}
.y4{bottom:499.685374pt;}
.y1d{bottom:507.512657pt;}
.y3{bottom:620.111888pt;}
.h6{height:38.910156pt;}
.h4{height:40.763021pt;}
.h8{height:45.375000pt;}
.h7{height:49.500000pt;}
.h1{height:51.502276pt;}
.h5{height:51.880208pt;}
.h3{height:74.250000pt;}
.h2{height:124.250000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:68.750041pt;}
.x21{left:172.084432pt;}
.x28{left:232.563558pt;}
.x24{left:234.576050pt;}
.x19{left:236.835368pt;}
.xa{left:238.355998pt;}
.x9{left:256.333354pt;}
.x8{left:268.333354pt;}
.x16{left:285.022298pt;}
.x2{left:292.760437pt;}
.x4{left:297.369141pt;}
.xc{left:302.499980pt;}
.x25{left:303.916687pt;}
.x1a{left:306.166687pt;}
.x10{left:309.022298pt;}
.x12{left:312.438965pt;}
.x1e{left:314.290446pt;}
.x27{left:324.066427pt;}
.xd{left:328.166646pt;}
.x20{left:330.102905pt;}
.x5{left:331.999980pt;}
.x18{left:337.500020pt;}
.x7{left:347.343781pt;}
.x6{left:358.058573pt;}
.x11{left:365.355632pt;}
.x13{left:369.272298pt;}
.x3{left:376.885417pt;}
.xe{left:381.105642pt;}
.x1f{left:385.019572pt;}
.x15{left:386.965922pt;}
.x1c{left:398.373789pt;}
.x17{left:402.937500pt;}
.x1d{left:409.067149pt;}
.x23{left:418.696452pt;}
.xb{left:431.999980pt;}
.x14{left:439.465922pt;}
.xf{left:441.105632pt;}
.x26{left:447.899760pt;}
.x1b{left:461.373779pt;}
.x22{left:464.529785pt;}
}
